#main {
    width:1300px;
    height:800px;
    border:1px solid black;
    position:relative;
    float:left;
}
.c {
    border-radius: 50%;
    background-color:black;
    position:absolute;
}
.b {
    background-color:red;
}
.s1 {
    width:2px;
    height:2px;
}
.s2 {
    width:4px;
    height:4px;
}
.s3 {
    width:6px;
    height:6px;
}
.s4 {
    width:8px;
    height:8px;
}
.s5 {
    width:10px;
    height:10px;
}
.f {
    position:absolute;
    width:40px;
    height:40px;
    border-radius:15px;
}
.f1 {
    background-color:green;
}
.f2 {
    background-color:#02BC02;
    width:35px;
    height:35px;

}
.f3 {
    background-color:#00DE00;
    width:30px;
    height:30px;

}
.f4 {
    background-color:#B4FFB4;
    width:25px;
    height:25px;

}
.f5 {
    background-color:white;
    width:0px;
    height:0px;

}

#log {
    float:left;
    width:180px;
    font-size:0.9em;
    border:1px solid black;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:4px;
}
#ctr {
    float:left;
    height:600px;
    width:230px;
    padding:4px;
    
}
input {
    width:45px;
}
#points {
    font-size:1.2em;
}
